@import '~@angular/material/theming';

.selected-image-container {
    min-height: 250px;
}

.selected-image {
    height: 75%;
    width: 75%
}

.thumbnail-container {
    margin-top: 20px;
    overflow-y: scroll;
}

.thumbnail-image {
    height: 90px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: none;
    background: none;
}

@mixin image-slider-overlay-component-theme($theme) {
    $accent: map-get($map: $theme, $key: accent);
    $foreground-palette: map-get($theme, foreground);
    $default-color: mat-color($foreground-palette, base);

    .thumbnail {
        height: 75px;
    }

    .control {
        color: mat-color($accent);
    }
}
