<div class="flex-container flex-flow-column">
    <mat-card>
        <div class="flex-container">
            <mat-card-title class="mat-typography mat-card-title">
                <h2>Manage your images</h2>
            </mat-card-title>
            <span style="flex: 1 0 auto;"></span>
            <button *ngIf="profileImages.length" mat-icon-button (click)="showDialog();">
                <mat-icon>photo_library</mat-icon>
            </button>
        </div>
        <mat-card-content class="grid-tile-container">
            <ng-container *ngIf="profileImages.length">
                <cdk-virtual-scroll-viewport [itemSize]="100" [minBufferPx]="100" [maxBufferPx]="200"
                    class="image-viewport">
                    <mat-grid-list [cols]="2" rowHeight="150px" guterSize="1em" class="mat-elevation-z8">
                        <ng-template cdkVirtualFor let-tile let-i="index" let-last="last"
                            [cdkVirtualForOf]="profileImages$ | async" [cdkVirtualForTrackBy]="trackByFn">
                            <mat-grid-tile [colspan]="calculateColSpan(i)" [rowspan]="1" [matMenuTriggerFor]="imageMenu"
                                (click)="setSelected(i);" class="tile-border">
                                <ng-container
                                    *ngIf="!isImageLoaded(tile.resizeUrl); then loaderTemplate else tileTemplate">
                                </ng-container>
                                <ng-template #tileTemplate>
                                    <div class="grid-tile-background-image"
                                        [style.backgroundImage]="'url(' + tile.resizeUrl +')'"></div>
                                    <mat-grid-tile-footer *ngIf="isDevelopment">
                                        index: {{ i }} cols-calc: {{ calculateColSpan(i) }} length:
                                        {{ totalLength }} last: {{ last }}
                                    </mat-grid-tile-footer>
                                </ng-template>
                                <ng-template #loaderTemplate>
                                    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
                                </ng-template>
                                <img [src]="tile.resizeUrl" [hidden]="true" (load)="imageLoaded(tile.resizeUrl);"
                                    class="grid-tile-image" />
                            </mat-grid-tile>
                        </ng-template>
                    </mat-grid-list>
                </cdk-virtual-scroll-viewport>
            </ng-container>
            <div class="flex-container flex-justify-center">
                <span *ngIf="!profileImages.length">
                    No image available
                </span>
            </div>
            <div class="flex-container flex-flow-row flex-justify-end" style="margin-top: .5em; margin-right: 1em;">
                <button mat-fab color="accent" (click)="triggerFileDialog();">
                    <mat-icon>add_a_photo</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<mat-menu #imageMenu="matMenu" yPosition="above" xPosition="before">
    <button mat-menu-item [disabled]="profileImages.length === 0" (click)="requestMarkPrimaryProfileImage();">
        <mat-icon>photo</mat-icon> Set as profile-image
    </button>
    <button mat-menu-item [disabled]="profileImages.length === 0" (click)="
                        requestProfileImageRemove();
                    ">
        <mat-icon>delete</mat-icon> Delete Image
    </button>
</mat-menu>
<input #fileInput hidden accept="image/*" multiple type="file" (change)="emitSelection($event);" />