@import '~@angular/material/theming';

.grid-tile-background-image {
    background-size: cover;
    background-position: 25% 25%;
    width: 100%;
    height: 100%;
}

.grid-tile-image {
    width: 100%;
}

.grid-tile-container {
    margin: 0px -16px
}

.image-viewport {
    height: 160px;
}

@mixin user-image-control-component-theme($theme) {}

