<etdb-toolbar [user]="user$ | async" [sidenavVisible]="showSidenav$ | async" [title]="title$ | async"
    [unreadAppNotificationsCount]="unreadAppNotificationsCount$ | async" (requestThemeChange)="changeTheme($event);"
    (requestLogout)="logout();" (linkedMenuClicked)="toggleSidenavBasesOnSize();"
    (hamburgerMenuClicked)="toggleSidenav($event); showNotifications = false;"
    (notificationIconClicked)="toggleNotifications(true); toggleSidenav(false);">
</etdb-toolbar>
<mat-sidenav-container class="main-sidenav-container" (backdropClick)="toggleSidenav(false); toggleNotifications(false);">
    <mat-sidenav color="accent" #sidenav [mode]="sidenavMode" [opened]="showSidenav$ | async" [fixedInViewport]="true"
        [fixedTopGap]="layoutGap" style="box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2); width: 200px;">
        <etdb-sidenav-content [authenticatedUser]="user$ | async" (linkClicked)="toggleSidenavBasesOnSize();">
        </etdb-sidenav-content>
    </mat-sidenav>
    <mat-sidenav [opened]="showNotifications"  [fixedInViewport]="true" [fixedTopGap]="layoutGap" [mode]="sidenavMode" position="end">
        <etdb-app-notification-overview></etdb-app-notification-overview>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-template #overlay>
            <div class="flex-container flex-flow-column flex-center-center">
                <mat-progress-spinner color="accent" mode="indeterminate">
                </mat-progress-spinner>
                <span class="overlay-text-color" style="margin-top: 20px;">
                    Signing you in {{dots$ | async }}
                </span>
            </div>
        </ng-template>
        <router-outlet *ngIf="!(restoringSignIn$ | async)"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>