<div class="page-content">
    <etdb-component-loader-overlay [loading]="loading$ | async" [message]="message$ | async">
        <etdb-register-form (requestRegister)="register($event);"></etdb-register-form>
    </etdb-component-loader-overlay>
</div>