<div class="page-content page-content-pad-xs flex-container flex-flow-column flex-center-center">
    <div class="signin-container">
        <etdb-component-loader-overlay [loading]="loading$ | async" [message]="loaderMessage$ | async">
            <button mat-raised-button class="max-width" routerLink="/register">
                Create a new account
            </button>
            <div style="margin: 10px"></div>
            <etdb-google-signin-button [googleAuthAvailable]="googleAuthAvailable$ | async"
                (requestSignin)="googleSignIn($event)">
            </etdb-google-signin-button>
            <div *ngIf="!(googleAuthAvailable$ | async)" style="text-align: center; font-size: smaller">
                Your client is blocking required java-script to enable authentication via Google.
            </div>
            <div style="margin: 10px"></div>
            <etdb-facebook-signin-button [facebookAuthAvailable]="facebookAuthAvailable$ | async"
                (requestSignin)="facebookSignIn($event)"></etdb-facebook-signin-button>
            <div *ngIf="!(facebookAuthAvailable$ | async)" style="text-align: center; font-size: smaller">
                Your client is blocking required java-script to enable authentication via Facebook.
            </div>
            <div style="margin: 10px"></div>
            <etdb-signin-form (requestSignIn)="signIn($event)">
            </etdb-signin-form>
        </etdb-component-loader-overlay>
    </div>
</div>