<div class="page-content page-content-pad-xs">
    <div class="flex-container flex-center-center"
        style="height: -webkit-fill-available;height: -moz-available; height: fill-available;">
        <mat-icon>warning</mat-icon>&nbsp;You are not authorized to view this page!
    </div>
</div>