<div class="flex-container flex-center-center flex-flow-column">
    <div class="register-container">
        <etdb-mat-stepper-extended [endButtonLabel]="'Register'" [isLinear]="true">
            <etdb-mat-stepper-step-extended label="Your name" [form]="nameForm">
                <form [formGroup]="nameForm">
                    <div class="flex-container flex-flow-column">
                        <mat-form-field>
                            <input formControlName="firstName" matInput type="text" placeholder="Your name" />
                            <mat-error>This field is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="name" matInput type="text" placeholder="Your family name" />
                            <mat-error>This field is required.</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </etdb-mat-stepper-step-extended>
            <etdb-mat-stepper-step-extended label="Add e-mail addresses" [form]="emailsForm">
                <div class="flex-container flex-flow-column">
                    <form #emailsformTempl [formGroup]="emailsForm" novalidate>
                        <div formArrayName="emails">
                            <div *ngFor="let email of getEmailFormArray().controls; let i = index; let last = last;"
                                [@flyInOut]="'in'">
                                <div [formGroupName]="i" class="flex-container flex-flow-row">
                                    <mat-form-field class="flex-fill-space">
                                        <input matInput type="email" formControlName="address"
                                            placeholder="E-Mail address" required />
                                        <mat-error *ngIf="hasInvalidEmailError(i);">
                                            Not a valid email-address!
                                        </mat-error>
                                    </mat-form-field>
                                    <div style="padding-top: 10px;">
                                        <mat-slide-toggle formControlName="isPrimary" labelPosition="before"
                                            color="accent">Primary</mat-slide-toggle>
                                    </div>
                                    <div class="flex-container flex-flow-column">
                                        <button *ngIf="getEmailFormArray().controls.length !== 1"
                                            (click)="removeEmailGroupFromFormArray(i);"
                                            matTooltip="Remove email-address" type="button" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button *ngIf="last" (click)="appendEmailFormArray();"
                                            matTooltip="Add emai-address" type="button" mat-icon-button>
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <mat-error *ngIf="hasPrimaryEmailError();">
                                You must choose one primary email address!
                            </mat-error>
                            <mat-error *ngIf="hasMultiplePrimaryEmails();">
                                You can only choose one primary email address!
                            </mat-error>
                        </div>
                    </form>
                </div>
            </etdb-mat-stepper-step-extended>
            <etdb-mat-stepper-step-extended label="Username and password" [form]="userNamePasswordForm"
                [submitAction]="submit">
                <form #userNamePasswordFormTempl [formGroup]="userNamePasswordForm" novalidate>
                    <div class="flex-container flex-flow-column">
                        <mat-form-field>
                            <input autocomplete="username" formControlName="userName" matInput type="text"
                                placeholder="Choose a username" required />
                            <mat-error *ngIf="hasMinLengthError()">Four characters are required for a valid user-name!
                            </mat-error>
                            <mat-error *ngIf="hasMaxLengthError()">32 characters are maximum for a valid user-name!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-container flex-flow-column">
                        <mat-form-field>
                            <input autocomplete="new-password" matInput #passwordInput formControlName="password"
                                type="password" placeholder="Password" required />
                            <mat-icon (click)="changePasswordVisibility(passwordInput);" class="pointer" matSuffix>
                                remove_red_eye</mat-icon>
                            <mat-error *ngIf="hasMinLengthPasswordError();">
                                Password must contain at least 8 letters!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input autocomplete="new-password" matInput #passwordInputRepeat
                                formControlName="passwordRepeat" type="password" placeholder="Repeat password"
                                required />
                            <mat-icon (click)="changePasswordVisibility(passwordInputRepeat);" class="pointer"
                                matSuffix>remove_red_eye</mat-icon>
                            <mat-error *ngIf="hasMismatchedPasswordError();">
                                Passwords do not match!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </etdb-mat-stepper-step-extended>
        </etdb-mat-stepper-extended>
    </div>
    <div style="margin-top: 10px; text-align: center;">
        <button type="button" mat-button routerLink="/signin">Already a member? SignIn!</button>
    </div>
</div>