<ng-container *ngIf="authenticatedUser">
    <div class="flex-container flex-flow-row" style="align-items: center; padding: 0px 8px;">
        <button mat-icon-button [routerLink]="['/users/profile/' + authenticatedUser.id]" (click)="linkClicked.emit();">
            <div *ngIf="authenticatedUser.profileImageUrl" class="profile-picture mat-icon"
                [style.backgroundImage]="'url('+ authenticatedUser.profileImageUrl +')'">
            </div>
            <mat-icon *ngIf="!authenticatedUser.profileImageUrl">person</mat-icon>
        </button>
        <div class="flex-container flex-flow-column" style="padding: 5px;">
            <span style="white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
                width: 100px;">{{ authenticatedUser.userName }}</span>
            <span style="font-size: small;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 150px;">{{ authenticatedUser.email }}</span>
        </div>
    </div>
    <mat-divider></mat-divider>
</ng-container>
<ng-template ngFor let-link let-last="last" [ngForOf]="discoverLinks">
    <button mat-button type="button" class="max-width" [routerLink]="link.path"
    routerLinkActive="active-sidenav-menu-link" (click)="linkClicked.emit();">
    <mat-icon>{{ link.icon }}</mat-icon> <span style="font-size: 14px;">{{ link.displayName }}</span>
    </button>
    <mat-divider></mat-divider>
</ng-template>