<mat-toolbar color="primary">
    <button mat-icon-button (click)="hamburgerMenuClicked.emit(!sidenavVisible);">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="text-overflow: ellipsis; overflow: hidden;">
        {{ title }}
    </span>
    <span style="flex: 1 1 auto;"></span>
    <button *ngIf="!user && !(isSignInPage$ | async)" mat-button routerLink="/signin"
        (click)="linkedMenuClicked.emit();">Signin</button>
    <button *ngIf="!user" mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <ng-template ngFor let-theme [ngForOf]="themes" let-last="last">
            <button mat-menu-item (click)="requestThemeChange.emit(theme.theme);">{{theme.name}}</button>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
    </mat-menu>
    <!-- when user! -->
    <ng-container *ngIf="user">
        <button mat-icon-button cdkOverlayOrigin (click)="openNotifications();">
            <mat-icon [matBadge]="unreadAppNotificationsCount" matBadgePosition="above before" matBadgeColor="accent"
                [matBadgeHidden]="unreadAppNotificationsCount === 0">{{ getAppNotificationsIcon() }} </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="usersMenu">
            <div *ngIf="user.profileImageUrl" class="profile-picture mat-icon material-icons"
                [style.backgroundImage]="'url('+ userPictureUrl +')'">
            </div>
            <mat-icon *ngIf="!user.profileImageUrl">person</mat-icon>
        </button>
        <ng-template #notificationTemplate>
            <ng-content></ng-content>
        </ng-template>
        <mat-menu #usersMenu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item [routerLink]="'users/profile/' + user?.id" (click)="linkedMenuClicked.emit();">
                <mat-icon>person</mat-icon> Profile
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="'users/settings/' + user?.id" (click)="linkedMenuClicked.emit();">
                <mat-icon>settings</mat-icon> Settings
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [matMenuTriggerFor]="themeMenu">
                <mat-icon>color_lens</mat-icon> Theme
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="requestLogout.emit(); linkedMenuClicked.emit();">
                <mat-icon>exit_to_app</mat-icon> Logout
            </button>
        </mat-menu>
    </ng-container>
</mat-toolbar>